<h2><%= t(:editing, :default => 'Editing') %> <%= t(:trabajador, :default => "trabajador") %></h2>

<%= render 'form' %>

<%= link_to t(:back, :default => "Back"), admin_trabajadors_path, :class => "btn" %>